<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://jokes396.documents.azure.com:443/" />
    <add key="PrimaryKey"
      value="klJnC9YPkFMRobXsxObesVpiGsPpUbObnZlcBNdAO0NSuxDipkAO1AYk7JSL4rKT3YNsXSdRazCdACDbjOGRWw==" />
  </appSettings>
</configuration>